@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: "Merriweather", sans-serif;
    margin: 0;
}

/* Google Login button in the header */
#googleLogin {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: #3c6e71; /* Google's blue */
    color: #fff;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none; /* removes underline if it's a link */
  }


header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
  
header, footer{
    padding: 20px;
    background-color: #3c6e71;
    color: white;
}

nav{
    background-color: #3c6e71;
    padding: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: #284b63;
    opacity: 50%;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
}
.movie-card {
    border: 1px solid #353535;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
    color: #284b63;
}

main a{
    background-color: #f9f9f9;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    color: #284b63;
}